@import url('https://fonts.googleapis.com/css?family=Eater');

html,body{
    margin: 0;
    padding: 0;
}

.bg{
  &-battle{
    top: 0;
    left: 0;
    position:absolute;
    width: 100vw;
    height: 100vh;
  }
  &-Kenny{
    width: 98px;
    height: 160px;
    position:absolute;
  }
}

#battle{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    // background: url("../img/bottleFeild.jpg") round;
    display: flex;
    align-items: flex-end;
}
.wrapGamer{
    position: absolute;
    width:400px;
    height: 400px;
    bottom: 0;
    right: 60px;
    display: flex;
    align-items: center;
}

.sprite {
    background-image: url("/src/img/spriteSkill.png");
    background-repeat: no-repeat;
    display: block;
    width: 80px;
    height: 100px;
    position: absolute;
}

.sprite#iconKnef {
    background-position: 0px 0px;
    top: 155px;
    transition: top 1s cubic-bezier(0, 0, 1, 1);
    left: 40%;
};
.sprite#iconKnef.animed {
    top: 0px;
};
.sprite#iconTarget {
    transition: left 1s cubic-bezier(0, 0, 1, 1);
    background-position: -78px 0px;
    left: 160px;
    &.animed{
      left: 0;

    }
}
.sprite#iconFist {
    background-position: -164px 0px;
    right:  160px;
    transition: right 1s cubic-bezier(0, 0, 1, 1);
    &.animed{
        right: 0;
      }
}
.sprite#iconHammer {
    transition: bottom 1s cubic-bezier(0, 0, 1, 1);
    background-position: -247px 0px;
    bottom:155px;
    left: 40%;
    &.animed{
        bottom: 0;
      }
}

#hero {
    width: 98px;
    height: 160px;
    // background: url("../img/Kenny.png");
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.hero-name{
  margin-top: 170%;
  position: relative;
  // bottom: -30%;
  color: #fff;
  font-size: 20px;
  width: 98px;
  text-align: center;
  font-family: 'Eater', cursive;
}

.puzzleMoadal{
    width:500px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .85;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    color: red;
    background-color: rgb(30, 32, 35);
    &__rules{
      display: flex;
      justify-content: space-around;
    }
    &__inputs{

    }
    &__getAnswer{
      height: 20px;
      color: red;

    }
    &__close{
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -35%);
      color: red;
      background-color: #000;
      border-radius: 5px;
      border: 1px solid #0a0a0a
    }
}

.health-bar{
  border-radius: 5px;
  border: 4px solid #0aa4a4;
  height: 20px;
  width: 100px;
  background-color: red;
  position: absolute;
  top: -32px;
  text-align: center;
  line-height: 20px;
  color: #fff;
}

.hide-block{
  display: none !important;
}

#monster-health{
  position: relative;
  top: 25px;
}

.monster{
  width:160px;
  height: 280px;
  z-index: 1;
  left: 20px;
  display: flex;
  flex-direction: column;
  &-wrapper{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 40px;
  }
  &__head{
    object-fit: none;
    //
    object-position: -100px 8px;
    //
    width: 50px;
    height: 50px;
    position: relative;
    left: 22px;
    top: 24px;
  }
  &__body-wrapper{
    display: flex;
  }
  &__left-hand{
    object-fit: none;
    object-position: 0px 0px;
    width: 25px;
    height: 90px;
    position: relative;
    top: 30px;
    left: 15px;
  }
  &__body{
    object-fit: none;
    object-position: 0px 0px;
    width: 50px;
    height: 98px;
  }
  &__right-hand{
    transform: rotateY(180deg);
    object-fit: none;
    object-position: 0px 0px;
    width: 25px;
    height: 90px;
    position: relative;
    top: 30px;
    right: 15px;
  }
  &__legs-wrapper{
    display: flex;
    position: relative;
    z-index: -1;
  }
  &__left-leg{
    object-fit: none;
    object-position: 0px 0px;
    position: relative;
    width: 40px;
    height: 100px;
    left: 25px;
    top: 0px;
  }
  &__right-leg{
    object-fit: none;
    object-position: 0px 0px;
    position: relative;
    width: 40px;
    height: 100px;
    left: 8px;
    top: 0px;
  }
  &__name{
    color: #fff;
    font-size: 12px;
    width: 190px;
    font-family: 'Eater', cursive;
  }
}

.dead-modal{
  position: absolute;
  opacity: .0;
  width: 100vw;
  height: 100vh;
}

.opacity-modal{
  z-index: 5;
  transition: 6s ease all;
  opacity: .8;
}

.score{
  position: absolute;
  bottom: 90vh;
  left: 2vw;
  display: flex;
  width: 65px;
  align-items: baseline;
  justify-content: center;
  &__text{
    color: #fff;
    font-size: 20px;
    width: 160px;
    font-family: 'Eater', cursive;
  }
  &__img{
    object-fit: none;
    object-position: -100px 8px;
    width: 50px;
    height: 50px;

  }
}

.record-table{
  position: absolute;
  top: 1vh;
  right: 1vw;
  color: #fff;
  font-family: 'Eater', cursive;
  border: 1px dashed #ddd;
  border-radius: 5px;
  &__list{
    list-style: none;
    font-size: 22px;
    padding: 0 25%;
  }
  &__item{
    display: flex;
    align-items: flex-end;
  }
  &__kills{
    margin-top: 5px;
    text-align: center;
  }
  &__title{
    margin: 0;
  }
}

.rules{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: .85;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  color: red;
  background-color: rgb(30, 32, 35);
  padding: 2% 5%;
  &__close{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -35%);
    color: red;
    background-color: #000;
    border-radius: 5px;
    border: 1px solid #0a0a0a;
    padding-right: 3px;
  }
}
